/* shared styles */
* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 40px;
}

/* header styles */

header {
    width: 100%;
    align-items: center;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 190px;


}

.web-title {
    display: flex;
    gap: 10px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.left-menu>a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;

}

.right-menu {
    display: flex;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    justify-content: center;
}

.right-menu>a {
    display: flex;
    width: 24px;
    height: 24px;
    padding-left: 18px;

}

/* main section starts */

/* banner section */

.banner-container {
    display: flex;
    width: 100%;
    max-height: 680px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 350px;
    background-image: url('../images/Group 14.png');
    background-repeat: no-repeat;
    background-color: rgba(221, 38, 221, 0.26);

}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

}

.banner-goat {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-des {
    text-align: left;
    margin-top: 24px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.b-des-1 {
    margin-bottom: 15px;
}

.b-des-2 {
    margin-bottom: 15px;
}

#btn-blue {
    background: #4EC5F7;
}


/* we gamer section*/

.we-gamer-container {
    display: flex;
    width: 100%;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px auto;
}

.we-gamer-text {
    text-align: right;

}

.we-gamer-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-gamer-des {
    color: #534C64;
    width: 520px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.we-gamer-pic {
    width: 868px;
    height: 489px;
}

.we-gamer-motto {
    width: 520px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
}

/* video section */

.video-container {
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

.video-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.funny-video-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-des{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
}

.video-pics>div>img:hover{
    border: 5px solid deeppink;
border-radius: 18px;
}
.video-pics{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 24px;
    margin-top: 40px;
}

.video-pics-des{
    width: 342px;
}
